body {
    background: #ffffff;
    margin-top: 100px;
    float: center;
  }
  .title1 {
       color: rgb(255, 255, 0);
       -webkit-text-stroke: 1px rgb(0, 0, 255);


  }
  
.square {
    background: #b10808;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    margin: 10%;
    float: center;
    position: relative;
  }